<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>smoke</td><td>TestConfiguration.runTest1()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]<br/></td></tr>
</table>
