<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterClass()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterGroups()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">&lt;&lt;afterGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="897dab">  <td>18/07/15 13:27:32</td>   <td>339</td> <td title="&lt;&lt;DBConfig.afterSuite()[pri:0, instance:Exercise.Class21.DBConfig@48e8c32a]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="897dab">  <td>18/07/15 13:27:31</td>   <td>10</td> <td>&nbsp;</td><td title="&lt;&lt;DBConfig.afterTest()[pri:0, instance:Exercise.Class21.DBConfig@48e8c32a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-68</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeClass()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-65</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeGroups()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">&gt;&gt;beforeGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-16</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="897dab">  <td>18/07/15 13:27:31</td>   <td>-410</td> <td title="&gt;&gt;DBConfig.beforeSuite()[pri:0, instance:Exercise.Class21.DBConfig@48e8c32a]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="897dab">  <td>18/07/15 13:27:31</td>   <td>-349</td> <td>&nbsp;</td><td title="&gt;&gt;DBConfig.beforeTest()[pri:0, instance:Exercise.Class21.DBConfig@48e8c32a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-63</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest1()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">runTest1</td> 
  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest2()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">runTest2</td> 
  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8888c9">  <td>18/07/15 13:27:31</td>   <td>-14</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest3()[pri:0, instance:Exercise.Class21.TestConfiguration@57c00115]">runTest3</td> 
  <td>main@1232948374</td>   <td></td> </tr>
<tr bgcolor="8b6e7a">  <td>18/07/15 13:27:31</td>   <td>-153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestHelloWorld.testEmailGenerator()[pri:0, instance:Exercise.Class21.TestHelloWorld@20a7953c]">testEmailGenerator</td> 
  <td>main@1232948374</td>   <td></td> </tr>
</table>
