<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCases.GetQuoteTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>c_AddDrivers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>c_AddDrivers</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>b_AddVehicles</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>b_AddVehicles</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>d_AddDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>d_AddDetails</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>a_AddCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>a_AddCustomer</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUpClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDownClass</td>
<td>&nbsp;</td></tr>
</table>
