<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GetQuoteTest.setUpClass()[pri:0, instance:testCases.GetQuoteTest@77b14724]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:49</td>   <td>6477</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetQuoteTest.a_AddCustomer()[pri:0, instance:testCases.GetQuoteTest@1cdc4c27]">a_AddCustomer</td> 
  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:49</td>   <td>6738</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GetQuoteTest.setUpClass()[pri:0, instance:testCases.GetQuoteTest@77b14724]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:50</td>   <td>8099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetQuoteTest.a_AddCustomer()[pri:0, instance:testCases.GetQuoteTest@77b14724]">a_AddCustomer</td> 
  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:50</td>   <td>8242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetQuoteTest.b_AddVehicles()[pri:0, instance:testCases.GetQuoteTest@1cdc4c27]">b_AddVehicles</td> 
  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:50</td>   <td>8245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetQuoteTest.b_AddVehicles()[pri:0, instance:testCases.GetQuoteTest@77b14724]">b_AddVehicles</td> 
  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:50</td>   <td>8248</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetQuoteTest.c_AddDrivers()[pri:0, instance:testCases.GetQuoteTest@1cdc4c27]">c_AddDrivers</td> 
  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:50</td>   <td>8252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetQuoteTest.c_AddDrivers()[pri:0, instance:testCases.GetQuoteTest@77b14724]">c_AddDrivers</td> 
  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:50</td>   <td>8256</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetQuoteTest.d_AddDetails()[pri:0, instance:testCases.GetQuoteTest@1cdc4c27]">d_AddDetails</td> 
  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:50</td>   <td>8263</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GetQuoteTest.tearDownClass()[pri:0, instance:testCases.GetQuoteTest@77b14724]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:53</td>   <td>11034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetQuoteTest.d_AddDetails()[pri:0, instance:testCases.GetQuoteTest@77b14724]">d_AddDetails</td> 
  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
<tr bgcolor="a4fc66">  <td>18/07/15 08:55:53</td>   <td>11037</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GetQuoteTest.tearDownClass()[pri:0, instance:testCases.GetQuoteTest@77b14724]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1257299717</td>   <td>484199463 2008106788 </td> </tr>
</table>
