<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAll</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="999590">  <td>18/07/15 13:15:18</td>   <td>0</td> <td title="&gt;&gt;DBConfig.beforeSuite()[pri:0, instance:Exercise.Class21.DBConfig@3af9c5b7]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="999590">  <td>18/07/15 13:15:18</td>   <td>8</td> <td>&nbsp;</td><td title="&gt;&gt;DBConfig.beforeTest()[pri:0, instance:Exercise.Class21.DBConfig@3af9c5b7]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="c1bd8b">  <td>18/07/15 13:15:18</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestHelloWorld.testEmailGenerator()[pri:0, instance:Exercise.Class21.TestHelloWorld@37271612]">testEmailGenerator</td> 
  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeClass()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeGroups()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">&gt;&gt;beforeGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest1()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">runTest1</td> 
  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>38</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>39</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterGroups()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">&lt;&lt;afterGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest2()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">runTest2</td> 
  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest3()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">runTest3</td> 
  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="71beb3">  <td>18/07/15 13:15:18</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterClass()[pri:0, instance:Exercise.Class21.TestConfiguration@ed7f8b4]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="999590">  <td>18/07/15 13:15:18</td>   <td>46</td> <td>&nbsp;</td><td title="&lt;&lt;DBConfig.afterTest()[pri:0, instance:Exercise.Class21.DBConfig@3af9c5b7]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
<tr bgcolor="999590">  <td>18/07/15 13:15:18</td>   <td>111</td> <td title="&lt;&lt;DBConfig.afterSuite()[pri:0, instance:Exercise.Class21.DBConfig@3af9c5b7]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1810899357</td>   <td></td> </tr>
</table>
