<h2>Reporter output</h2><table><tr><td><div "result">I navigated to geico website home page (PASSED : 8s)</div></td></tr>
<tr><td><div "result">providing 20164 as zip code (PASSED : 0s)</div></td></tr>
<tr><td><div "result">clicking the start quote button (PASSED : 2s)</div></td></tr>
<tr><td><div "result">I should see the users information page (PASSED : 2s)</div></td></tr>
</table>