<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestAll</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterClass()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterGroups()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">&lt;&lt;afterGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-40</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="83b0a5">  <td>18/07/15 13:14:27</td>   <td>457</td> <td title="&lt;&lt;DBConfig.afterSuite()[pri:0, instance:Exercise.Class21.DBConfig@687e99d8]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="83b0a5">  <td>18/07/15 13:14:27</td>   <td>6</td> <td>&nbsp;</td><td title="&lt;&lt;DBConfig.afterTest()[pri:0, instance:Exercise.Class21.DBConfig@687e99d8]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-60</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeClass()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-52</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeGroups()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">&gt;&gt;beforeGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-50</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="83b0a5">  <td>18/07/15 13:14:27</td>   <td>-272</td> <td title="&gt;&gt;DBConfig.beforeSuite()[pri:0, instance:Exercise.Class21.DBConfig@687e99d8]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="83b0a5">  <td>18/07/15 13:14:27</td>   <td>-212</td> <td>&nbsp;</td><td title="&gt;&gt;DBConfig.beforeTest()[pri:0, instance:Exercise.Class21.DBConfig@687e99d8]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-49</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest1()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">runTest1</td> 
  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest2()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">runTest2</td> 
  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="8b79ad">  <td>18/07/15 13:14:27</td>   <td>-20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest3()[pri:0, instance:Exercise.Class21.TestConfiguration@6aaceffd]">runTest3</td> 
  <td>main@875917495</td>   <td></td> </tr>
<tr bgcolor="9178b0">  <td>18/07/15 13:14:27</td>   <td>-141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestHelloWorld.testEmailGenerator()[pri:0, instance:Exercise.Class21.TestHelloWorld@e4487af]">testEmailGenerator</td> 
  <td>main@875917495</td>   <td></td> </tr>
</table>
