<h2>Reporter output</h2><table><tr><td><div "result">I navigated to GEICO website homepage (PASSED : 8s)</div></td></tr>
<tr><td><div "result">providing 20164 as zip code (PASSED : 0s)</div></td></tr>
<tr><td><div "result">clicking the start button (UNDEFINED)</div></td></tr>
<tr><td><div "result">I should see the users information page (SKIPPED)</div></td></tr>
</table>