<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterClass()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterGroups()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">&lt;&lt;afterGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="bc82a1">  <td>18/07/22 11:08:09</td>   <td>408</td> <td title="&lt;&lt;DBConfig.afterSuite()[pri:0, instance:Exercise.Class21.DBConfig@31f9b85e]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="bc82a1">  <td>18/07/22 11:08:09</td>   <td>28</td> <td>&nbsp;</td><td title="&lt;&lt;DBConfig.afterTest()[pri:0, instance:Exercise.Class21.DBConfig@31f9b85e]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-84</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeClass()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeGroups()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">&gt;&gt;beforeGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-28</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="bc82a1">  <td>18/07/22 11:08:09</td>   <td>-113</td> <td title="&gt;&gt;DBConfig.beforeSuite()[pri:0, instance:Exercise.Class21.DBConfig@31f9b85e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="bc82a1">  <td>18/07/22 11:08:09</td>   <td>-103</td> <td>&nbsp;</td><td title="&gt;&gt;DBConfig.beforeTest()[pri:0, instance:Exercise.Class21.DBConfig@31f9b85e]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest1()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">runTest1</td> 
  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest2()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">runTest2</td> 
  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="7abbaa">  <td>18/07/22 11:08:09</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest3()[pri:0, instance:Exercise.Class21.TestConfiguration@424e1977]">runTest3</td> 
  <td>main@1190820921</td>   <td></td> </tr>
<tr bgcolor="6aecbc">  <td>18/07/22 11:08:09</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestHelloWorld.testEmailGenerator()[pri:0, instance:Exercise.Class21.TestHelloWorld@10d68fcd]">testEmailGenerator</td> 
  <td>main@1190820921</td>   <td></td> </tr>
</table>
