<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterClass()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterGroups()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">&lt;&lt;afterGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestConfiguration.afterMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>18/07/15 13:29:05</td>   <td>78</td> <td title="&lt;&lt;DBConfig.afterSuite()[pri:0, instance:Exercise.Class21.DBConfig@5f8edcc5]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>18/07/15 13:29:04</td>   <td>7</td> <td>&nbsp;</td><td title="&lt;&lt;DBConfig.afterTest()[pri:0, instance:Exercise.Class21.DBConfig@5f8edcc5]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-25</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeClass()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeGroups()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">&gt;&gt;beforeGroups</td> 
<td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-4</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestConfiguration.beforeMethod()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>18/07/15 13:29:04</td>   <td>-44</td> <td title="&gt;&gt;DBConfig.beforeSuite()[pri:0, instance:Exercise.Class21.DBConfig@5f8edcc5]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7a66ec">  <td>18/07/15 13:29:04</td>   <td>-33</td> <td>&nbsp;</td><td title="&gt;&gt;DBConfig.beforeTest()[pri:0, instance:Exercise.Class21.DBConfig@5f8edcc5]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest1()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">runTest1</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest2()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">runTest2</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="7caf88">  <td>18/07/15 13:29:04</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestConfiguration.runTest3()[pri:0, instance:Exercise.Class21.TestConfiguration@7b02881e]">runTest3</td> 
  <td>main@2030036700</td>   <td></td> </tr>
<tr bgcolor="8d977b">  <td>18/07/15 13:29:04</td>   <td>1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestHelloWorld.testEmailGenerator()[pri:0, instance:Exercise.Class21.TestHelloWorld@1ebd319f]">testEmailGenerator</td> 
  <td>main@2030036700</td>   <td></td> </tr>
</table>
