<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c1bd8b">  <td>18/07/15 13:09:12</td>   <td>0</td> <td title="&gt;&gt;DBConfig.beforeSuite()[pri:0, instance:Exercise.Class21.DBConfig@43c1b556]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1878169648</td>   <td></td> </tr>
<tr bgcolor="c1bd8b">  <td>18/07/15 13:09:12</td>   <td>10</td> <td>&nbsp;</td><td title="&gt;&gt;DBConfig.beforeTest()[pri:0, instance:Exercise.Class21.DBConfig@43c1b556]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1878169648</td>   <td></td> </tr>
<tr bgcolor="c1bd8b">  <td>18/07/15 13:09:12</td>   <td>15</td> <td>&nbsp;</td><td title="&lt;&lt;DBConfig.afterTest()[pri:0, instance:Exercise.Class21.DBConfig@43c1b556]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1878169648</td>   <td></td> </tr>
<tr bgcolor="c1bd8b">  <td>18/07/15 13:09:12</td>   <td>91</td> <td title="&lt;&lt;DBConfig.afterSuite()[pri:0, instance:Exercise.Class21.DBConfig@43c1b556]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1878169648</td>   <td></td> </tr>
</table>
